.gitattributes export-ignore
/client/ export-ignore
Procfile export-ignore
CHANGELOG.md export-ignore
VERSION export-ignore
server.bat export-ignore
/server/.rubocop.yml export-ignore
/server/Rakefile export-ignore


