@import "~mobius1-selectr/dist/selectr.min.css";

@font-face {
    font-family: "icon-checkmark";
    src: url(data:application/font-woff2;charset=utf-8;base64,d09GMgABAAAAAAI4AA0AAAAABhQAAAHjAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP0ZGVE0cGh4GYACCXhEIClhhCw4AATYCJAMYBCAFg28HRRsmBcieh7EzYsgSJcRRek+6ePhn7vW+JD8FQDXXshwQ2cKYjWDWczuzQA7QzxLp3yeqzPry/8smgcn7p25ySwOf2EWZRFj41/mXBRTI2Bhg1nmA8ZreVs414dRt8/V4bIY3vXD6QQwiRpurEPDxHqXw6cGb5OhAJZqRCKEgZEiQpi/jlALJ5SScRH58NRJlRErUKpwpvtSmj4rMTEmEAH6vQHpzpwAbpQKdMlNRrlQiEXq/1BYH6JsUa/ovFcoBhJTIiRSIBAn6MkEGj4UoUgNyUIkMNWgHZIBACJGCzEO4ZfPaTSfWe23elg0P3/Dt2xrGbtwAAsH5jfNeXTP1f2lFJmTjFBVG0kcolYAgGGaFddDx5rmQZ4BYByQG/yGQywVIAABQ7b4AoVq3AIkS0wRIVZsQIFPtlAAFFR4KkKv2WYBy7TFFKrIyoRPlEtX6uFSneUhG7OcKmt3kcp2eblFu1C/bTNhjtz4Tttpkwg67jNlvB4sD9K0JeeIhq5vMFofsVD0gS4xDnEa43ibWD9hmt/Ya0m+Q8ybNof5BNzDfRh3Uawu12yb7yw7aZFKvccf0WpT0Zfaw1s9117MRa4sm9nzNMAOJ0j0nEkmk0sjyLTuP7d06VHJo97ZBKNWYN2toEAAAAA==);
    font-weight: normal;
    font-style: normal;
}

.selectr-container {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

.custom-style.open .selectr-selected {
    border-color: #34495e #34495e transparent;
    border-radius: 0;
}

.custom-style .selectr-notice {
    background-color: #34495e;
    border-color: #34495e;
    color: #ecf0f1;
}

.custom-style .selectr-selected,
.custom-style .selectr-options-container {
    background-color: rgba(45, 63, 73, 0.78) !important;
    border-radius: 0px;
    outline: 1px solid #e0e1e2;
}

.custom-style .selectr-placeholder,
.custom-style .selectr-label {
    color: #ecf0f1;
}

.custom-style .selectr-tag {
    background-color: #2c3e50;
    border-color: #2c3e50;
    border-radius: 0px;
    font-size: 0.7rem;
    color: #ecf0f1;
}

.custom-style .selectr-input {
    background-color: rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    color: #ecf0f1;
}

.custom-style .selectr-clear::before,
.custom-style .selectr-clear::after,
.custom-style .selectr-tag-remove::before,
.custom-style .selectr-tag-remove::after {
    background-color: #2ecc71;
    height: 10px;
    top: 4px;
    width: 2px;
}

.custom-style .selectr-option.active,
.custom-style .selectr-option.active:hover,
.custom-style .selectr-option.selected:hover,
.custom-style .selectr-option.selected.active,
.custom-style .selectr-option.selected.active:hover {
    background-color: #2c3e50;
    color: #ecf0f1;
}

.custom-style .selectr-option.selected {
    background-color: #2c3e50;
}

.custom-style .selectr-option:hover:not(.disabled) {
    background-color: #2c3e50;
}

.custom-style .selectr-option::after {
    position: absolute;
    right: 5px;
    top: 5px;
}

.custom-style .selectr-option.disabled {
    cursor: not-allowed;
    opacity: 1;
}

.custom-style .selectr-option.disabled .color-option {
    opacity: 0.2;
}
.custom-style .selectr-selected {
    border: none;
}

.custom-style .selectr-selected:focus {
    outline: rgb(77, 144, 254) solid 1px;
}

.custom-style .selectr-input:focus {
    outline: rgb(77, 144, 254) solid 1px;
}

.custom-style.selectr-container.open .selectr-options-container {
    display: block;
    margin-top: 10px;
    ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track  { 
      visibility: visible;
    }
}

.custom-style .selectr-selected > div {
    font-size: 0.9rem;
}

.custom-style .selectr-option.selected::after {
    font-family: "icon-checkmark";
    font-size: 0.5rem;
    padding-top: 3px;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2ecc71;
    display: inline-block;
    content: "\ea10";
}
.custom-style .selectr-option.active:hover::after,
.custom-style .selectr-option.selected:hover::after {
    color: #ecf0f1;
}

.custom-style li.selectr-option {
    font-size: 0.68rem;
    border-top: 1px solid rgb(32, 52, 62);
    margin-right: 9px;
    margin-left: 9px;
}
.custom-style .selectr-options-container > ul {
    height: 9rem;
}
.custom-style .selectr-options {
    margin-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}
