@import "~normalize.css/normalize.css";

body {
  background-color: #343838;
  color: #FFFFFF;
  font-size: 16px;
  margin: 0;
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
}
