$css--plex: true;
$css--helpers: true;

@import './theme.scss';
@import '~carbon-components/scss/globals/scss/styles';

// @import '~mapbox-gl/dist/mapbox-gl.css';

// html {
//   box-sizing: border-box;
// }
//
// *, *:before, *:after {
//   box-sizing: inherit;
// }

body {
  background-color: #343838;
  color: #FFFFFF;
  font-size: 16px;
  margin: 0;
  overflow:hidden;
}

