/* src/components/grafico/grafico.scss */

.grafico {
 position: relative;
 width: 68vw;
 height: 434px;
 margin: 0px auto 20px auto;
 border: 1.4px solid #FFF;
 border-radius: 14px;
 & > div {
   border-radius: 14px;
   margin-bottom: 20px;
 }
 
}

