/* src/components/filtro_impianto/filtro_impianto.scss */

#filtro_impianto {
    --space: 4rem;
}

.bx--accordion__item--active > #filtro_impianto {
    height: var(--space);
    transition: height 0.2s;
}
