/* src/components/table/table.scss */

table {
    width: 100%;
    table-layout: fixed;
}

.tbl {
    margin-top: 5vh;
    width: 100%;
    background: #333;
    @media screen and (max-height: 600px) {
        margin-top: 3.7vh;
    }
    &__header {
        width: 100%;
        // padding-right: 0.58vw;
        border-top: 1px solid #e2e2e2e0;
        border-left: 1px solid #e2e2e2e0;
        border-right: 1px solid #e2e2e2e0;
        > table {
            caption {
                letter-spacing: 1px;
                font-weight: bold;
                font-size: 1.1rem;
                background: #333;
                padding: 0.8vh 0;
                // margin-right: -0.64vw;
                border-bottom: 1px solid #e2e2e2e0;
            }
            thead {
                background: #333;
                > tr {
                    height: 3vh;
                    th {
                        font-size: 0.86rem;
                        font-weight: 400;
                        text-align: left;
                        letter-spacing: 1px;
                        vertical-align: middle;
                        padding-left: 0.4vw;
                        border-right: 1px solid #e2e2e2e0;
                        &:last-of-type {
                            border-right: none;
                        }
                    }
                }
            }
            .thead-centrali {
                > tr th {
                    &.nome {
                        width: 6.7vw;
                    }
                    &.company {
                        width: 4.2vw;
                    }
                    &.dt_upd,
                    &.start_dt,
                    &.end_dt {
                        width: 5.4vw;
                    }
                    &.pmax {
                        width: 3.2vw;
                    }
                    &.tipo {
                        width: 4.6vw;
                    }
                }
            }
            .thead-linee {
                > tr th {
                    &.nome {
                        width: 11.9vw;
                    }
                    &.dt_upd,
                    &.start_dt,
                    &.end_dt {
                        width: 6vw;
                    }
                }
            }
        }
    }
    &__content {
        max-height: 18vh;
        overflow-x: hidden;
        overflow-y: hidden;
        border: 1px solid white;

         table > tbody {
            background-color: rgba(40, 40, 40, 0.1);
            tr {
                cursor: pointer;
                height: 1.2vh;
                &:nth-child(even) {
                    background-color: rgba(90, 90, 90, 0.35);
                }
                &:hover td {
                    z-index: 100;
                    border-width: 1.2px;
                    border-style: solid;
                    border-color: rgb(90, 170, 250);
                    font-weight: bold;
                }
                &.active {
                    background-color: #1285f7 !important;
                    box-shadow: inset rgb(10, 67, 123) 0px 0px 4px 2px;
                }
                td {
                    padding-top: 1%;
                    padding-bottom: 1%;
                    font-size: 0.6rem;
                    padding-left: 0.4vw;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    border-right: 1px solid #e2e2e2e0;
                    &:last-of-type {
                        border-right: none;
                    }
                }
            }
        }
        table > .tbody-centrali {
            tr td {
                &.nome {
                    width: 6.7vw;
                }
                &.company {
                    width: 4.2vw;
                }
                &.dt_upd,
                &.start_dt,
                &.end_dt {
                    width: 5.4vw;
                }
                &.pmax {
                    width: 3.2vw;
                }
                &.tipo {
                    width: 4.6vw;
                }
            }
        }
         table > .tbody-linee {
            tr td {
                &.nome {
                    width: 11.9vw;
                }
                &.dt_upd,
                &.start_dt,
                &.end_dt {
                    width: 6vw;
                }
            }
        }
    }
}

.simplebar-scrollbar {
    right: 1px;
}

.simplebar-scrollbar:before {
    background: rgb(92, 166, 245);
    // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.simplebar-track:hover .simplebar-scrollbar:before, .simplebar-track .simplebar-scrollbar.visible:before {
    opacity: 0.98;
    -webkit-transition: opacity 0 linear;
    transition: opacity 0 linear;
}
