/* src/components/filtro_tecnologia/filtro_tecnologia.scss */

#filtro_tecnologia {
  .bx--form-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.8rem;
    flex-direction: column;
    > .bx--checkbox-wrapper {
      margin-bottom: 7px;
    }
  }

  .bx--form-item:first-of-type {
    margin-top: 8px;
  }
}


