/* src/components/filtro_linnee/filtro_linee.css */

#filtro_societa .selectr-options-container > ul {
    height: 5rem;
}

.bx--accordion__item--active > #filtro_societa {
    min-height: 2.6rem;
    --space: 4rem;
    height: var(--space);
    transition: height 0.1s;
}

/* .bx--accordion__item--active >  #filtro_unita { */
/*   min-height: 2.6rem; */
/*   --space: 4rem; */
/*   height: var(--space); */
/*   transition: height .1s; */
/* } */
/*  */
