/* src/components/sidebar/sidebar.scss */

nav.sidebar {
    position: fixed;
    top: 0px;
    border: 2px solid #152935;
    height: 96vh;
    min-height: 520px;
   
    border-radius: 8px;
    margin-top: 10px;

    padding: 20px 20px;
    // opacity: 0;
    background-color: rgba(37, 37, 37, 0.93);
    z-index: 2;
    &.left {
        width: 45vw;
        min-width: 600px;
        // width: 760px;
        transform: translate3d(-46vw, 0, 0);  
        left: 0vw;
        @media screen and (max-width: 1390px) {
            transform: translate3d(-624px, 0, 0);
        }
        box-shadow: rgba(0, 0, 0, 0.39) 3px 2px 2px 0px;
        transition: transform 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
        padding-top: 20px;
        &.active {
          transform: translate3d(0, 0, 0);
            // left: 0;
        }
       
    }
    &.right {
        width: 20vw;
        min-width: 230px;
        transform: translate3d(+21vw, 0, 0);
        right: 0;
        @media screen and (max-width: 1390px) {
            transform: translate3d(+284px, 0, 0);
        }
        padding-right: .8vw;
        padding-left: .8vw;
        box-shadow: rgba(0, 0, 0, 0.39) -3px 2px 2px 0px;
        transition: transform 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
        &.active {
            transform: translate3d(0, 0, 0);
        }
    }

     will-change: transform;
}
