/* src/components/datapicker/datapicker.css */

.bx--date-picker__icon {
    top: 0.4rem;
}

.bx--date-picker__input {
    height: 2.0rem;
}

.bx--date-picker.bx--date-picker--single .bx--date-picker__input {
    outline: 2px solid #8c9ba5;
}


.bx--date-picker__input:focus, .bx--date-picker__input.bx--focused {
    outline: 1px solid #5aaafa !important;
}
