/* src/components/datapicker/datapicker.css */

.bx--date-picker__icon {
    top: 0.4rem;
}

.bx--date-picker__input {
    height: 2rem;
}

.bx--date-picker.bx--date-picker--single .bx--date-picker__input {
    outline: 1px solid #99a0a5;
}

.bx--date-picker__input:focus,
.bx--date-picker__input.bx--focused {
    outline: 1px solid #5aaafa !important;
}

.bx--date-picker__input {
    background-color: rgba(45, 63, 73, 0.78) !important;
}

.bx--date-picker-container {
    display: flex;
}

.bx--number__controls {
  left: 0;

}
