/* src/components/datapicker/datapicker.css */

@import "~pikaday/css/pikaday.css";
@import "~pikaday/css/theme.css";

input[type=text], select {
    margin-top: 20px;
    background: 0 0;
    color: #ffffff;
    width: 120px;
    font-size: 14px;
    border: 1px solid #e2e2e2e0;
    line-height: 20px;
    position: relative;
    z-index: 3000;
    border-radius: 3px;
    padding: 2px 2px 2px 8px;
}

.input-icon{
  position: absolute;
  left: 3px;
  top: calc(50% - 0.5em); /* Keep icon in center of input, regardless of the input height */
}
input{
  padding-left: 17px;
}
.input-wrapper{
  position: relative;
}

.calendar {
    font-size: 16px;
    position:absolute; 
    top: 1px; 
    left: 106px;
}

.pika-title select {
    background-color: #333333;
}
