/* src/components/mapbox/mapbox.css */

@import "~mapbox-gl/dist/mapbox-gl.css";

#mapid {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.mapboxgl-popup-content {
    color: black;
    background: hsla(0, 0%, 100%, 0.9);
    padding: 18px 18px;
}

.mapboxgl-popup {
    max-width: 400px;
    font-family: ibm-plex-sans, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.9rem;
}
