/* src/components/grafico_zone/grafico_zone.scss */

#grafico__zone {
 position: relative;
 width: 68vw;
 height: 430px;
 margin: 10px auto 20px auto;
 border: 1.4px solid #FFF;
 border-radius: 14px;
 & > div {
   border-radius: 14px;
   margin-bottom: 20px;
 }
 
}

