/* src/components/burger/burger.scss */


.burger__dashboard {
    position: fixed;
    z-index: 2;
    bottom: -5px;
    left: 50%;

    display: block;

    width: 4.4em;
    height: 2.8em;

    cursor: pointer;
    transition: all 700ms cubic-bezier(.6, .05, .22, .91);

  &:hover {
       animation: bounce 1s;
  }

  &.active {
    bottom: 90vh;
    #left-bar:after {
      transform: rotate(80deg);
      transform-origin: center center;

      background-color: #fff;
    }

    #right-bar:after {
      transform: rotate(-80deg);
      transform-origin: center center;

      background-color: #fff;
    }
  }

  #left-bar {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    float: right;

    transform: rotate(-40deg);

    border-radius: 2px;
    background-color: transparent;

    &:after {
      z-index: -1;

      display: block;
      float: right;

      width: 40px;
      height: 6px;

      content: '';
      transition: all .5s cubic-bezier(.25, 1.7, .35, .8);

      border-radius: 10px 10px 10px 10px;
      background-color: #5aaafa;
    }
  }

  #right-bar {
    position: absolute;
    top: 0;
    left: 26px;

    display: block;
    float: right;

    transform: rotate(40deg);

    border-radius: 2px;
    background-color: transparent;

    &:after {
      z-index: -1;

      display: block;
      float: right;

      width: 40px;
      height: 6px;

      content: '';
      transition: all .5s cubic-bezier(.25, 1.7, .35, .8);

      border-radius: 10px 10px 10px 10px;
      background-color: #5aaafa;
    }
  }

  will-change: transform;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
	}
}

