/* src/components/filtro_sottotipo/filtro_sottotipo.scss */

#filtro_sottotipo {
    --space: 4rem;
}

.bx--accordion__item--active > #filtro_sottotipo {
    height: var(--space);
    transition: height 0.2s;
}
