/* src/components/filtri/filtri.scss */

.filtri {
  width: 100%;
  max-width: 100%;
  display: block;
  color: #fff;
  margin-top: 50px;
  ::-webkit-scrollbar-thumb, 
  ::-webkit-scrollbar-track  {  
    visibility: hidden;
  }
  // &:hover ::-webkit-scrollbar-thumb,  
  //  &:hover ::-webkit-scrollbar-track { 
  //   visibility: visible;
  // }

  .bx--accordion {
    max-height: 86vh;
    overflow-x: scroll;
    > .bx--accordion__item{
        margin-right: 6px;
        .bx--accordion__heading > .bx--accordion__title {
          font-size: 1rem;
          line-height: 1.25;
          font-weight: 600;
        }
    
    }
  }

  .bx--fieldset {
      margin-bottom: .1rem;
  }
}

.bx--accordion__item--active .bx--accordion__content {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

