/* src/components/filtri/filtri.scss */

.filtri {
  width: 100%;
  max-width: 100%;
  display: block;
  color: #fff;
  margin-top: 50px;

  .bx--accordion {
    max-height: 86vh;
    overflow-y: auto;
  }

  .bx--fieldset {
      margin-bottom: .1rem;
  }
}

.bx--accordion__item--active .bx--accordion__content {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

